* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #050505;
    color: #49bb79;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
    color: #49bb79;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
    outline: none;
    border: none;
    background-color: #17422e;
    color: #8af8b8;
}

input::placeholder {
    color: #49bb79;
}

button {
    width: 20%;
}

input,
button {
    border-radius: 10px;
    padding: 0.5rem .5rem;
    outline: none;
    border: none;
    background-color: #17422e;
    color: #49bb79;
    cursor: pointer;
}



.chat-display {
    background-color: #081410;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    flex-shrink: 0;
}

.post img {
    margin-right: -2rem;
    border-radius: 10px;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #dfdfdf;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: rgb(30, 128, 87);
    flex-wrap: 0;
}

.post__header--reply {
    background-color: rgb(43, 109, 163);
    flex-wrap: 0;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    display: flex;
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
    flex-wrap: 0;
}

.post__system {
    background-color: #a3a3a3;
    margin: .5rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0 .25rem;
    flex-shrink: 0;
}
.post__text--system {
    background-color: #a3a3a3;
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.post__connect {
    background-color: #243028;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post__text--connect {
    margin-top: 5px;
    color: #49bb79;
    padding: .25rem .5rem;
}

.post__disconnect {
    background-color: #d32626;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post__text--disconnect {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}


.user-list {
    background-color: #081410;
    color: #49bb79;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto 1rem;
    padding: .5rem;
    gap: .5rem;
}

.room-list:hover {
    outline-color: #265243;
    outline-style: solid;
    outline-width: 2px;
    
}
.user-list:hover {
    outline-color: #265243;
    outline-style: solid;
    outline-width: 2px;
}
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;

}

.activity {
    font-style: italic;
    border-radius: 10px;

}

