* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #555555;
    color: #999999;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

button {
    width: 20%;
}

input,
button {
    border-radius: 10px;
    padding: .5rem;
}

.chat-display {
    background-color: #363636;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: #a3a3a3;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #dfdfdf;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: rgb(30, 128, 87);
}

.post__header--reply {
    background-color: rgb(43, 109, 163);
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.post__connect {
    background-color: #72dd9b;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post__text--connect {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.post__disconnect {
    background-color: #d32626;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post__text--disconnect {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}


.user-list,
.room-list {
    background-color: #363636;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto 1rem;
    padding: .5rem;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    -webkit-text-fill-color: aliceblue;

}

.room-list:hover {
    outline-color: rgb(136, 136, 136);
    outline-style: solid;
    outline-width: 2px;
    
}
.user-list:hover {
    outline-color: rgb(153, 153, 153);
    outline-style: solid;
    outline-width: 2px;
}
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;

}

.activity {
    font-style: italic;
    border-radius: 10px;

}

.reconnect {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid gray;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  margin: 1rem auto;

}
